:root {
  // COLORS

  --black: #1b202a;
  --almost-white: #fafafb;
  --blue: #0336EE;
  --light-blue: #20446F;
  --blueish-grey: #C6D1E0;
  --grey: #5B6784;
  --red: #BE0713;

  // FONT-FAMILY
  --dm-sans: "DM Sans", sans-serif;
  --dm-serif: "DM Serif Display", serif;
  --permanent-marker: "Permanent Marker", cursive;

  // FONT_SIZE
  --fs-72: 72px;
  --fs-60: 60px;
  --fs-48: 48px;
  --fs-36: 36px;
  --fs-30: 30px;
  --fs-24: 24px;
  --fs-20: 20px;
  --fs-18: 18px;
  --fs-16: 16px;
  --fs-14: 14px;
  --fs-12: 12px;

// BREAKPOINTS
  --xs: 0;
  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;
  --xxl: 1400px;

// PADDING
--p-200: 200px;
--p-150: 150px;
--p-100: 100px;
--p-80: 80px;
--p-40: 40px;
--p-20: 20px;
--p-10: 10px;
}




